# OS related
.DS_Store

# Build
node_modules/
dist/

# Software, apps and editor files
.idea/
.obsidian/
.github/
.impeccable

# Design
DESIGN.md
PRODUCT.md

# AI related
.claude/
.copilot/
.opencode/


