# OS related
.DS_Store

# Build
node_modules/
dist/
tasks/
assets/
docs/
laboratory/
teaser/
wiki/

# Software, apps and editor files
.idea/
.obsidian/
.impeccable/

# Design
DESIGN.md
PRODUCT.md

# AI related
.claude/
.copilot/
.agents/
skills-lock.json
.opencode/
.mcp.json

AGENTS.md
CLAUDE.md


